.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
img.vertical-fix {
  display: inline!important;
  width: 0!important;
  height: 100% !important;
  font-size: 0!important;
  opacity: 0!important;
}
/*centring*/
.ch {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.cv {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cvh {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.centered-wrapper {
  display: table;
  table-layout: fixed;
}
/*links*/
/*text*/
/*border radius*/
/*bg-decoration*/
/*animation*/
/*filter blur*/
